In [1]:
import sqlite3

In [2]:
## Connect database to SQLite
connection = sqlite3.connect('example.db')
connection

In [22]:
cursor = connection.cursor()

In [ ]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## commit the changes
connection.commit()

In [10]:
cursor.execute('''
Select * from employees
''')

In [11]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
                values('Krish',32,'Data Scientist')

''')
cursor.execute('''
Insert Into employees(name,age,department)
                values('Sachin',22,'Data Engineer')

''')
cursor.execute('''
Insert Into employees(name,age,department)
                values('Ankur',21,'Data Scientist')

''')
cursor.execute('''
Insert Into employees(name,age,department)
                values('parth',19,'Software Developer')

''')

## commit
connection.commit()

In [12]:
## Query the data from Table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Sachin', 22, 'Data Engineer')
(3, 'Ankur', 21, 'Data Scientist')
(4, 'parth', 19, 'Software Developer')

In [30]:
## Update data in the table
cursor.execute('''
UPDATE employees
Set age = 34
Where name ="Krish"
''')

In [31]:
## Query the data from Table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Sachin', 22, 'Data Engineer')
(3, 'Ankur', 21, 'Data Scientist')
(4, 'parth', 19, 'Software Developer')

In [32]:
## Delete the data from table

cursor.execute('''
Delete from employees
where name='Sachin'

''')

In [ ]:
## Query the data from Table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Ankur', 21, 'Data Scientist')
(4, 'parth', 19, 'Software Developer')

In [39]:
## Working with sales Data
## connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## Create table for sales data
cursor.execute("DROP TABLE IF EXISTS sales")

cursor.execute('''
CREATE TABLE sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')


## Insert data into the sales table
sales_data =[
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'East'),
    ('2023-01-04','Product3',250,'West'),
    ('2023-01-05','Product2',300,'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                    values(?,?,?,?)
''',sales_data)

connection.commit()

In [41]:
## Query the data from Table
cursor.execute('Select * from sales')
rows = cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [42]:
### close the connection
connection.close()